.section-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f7f7f7;

    margin-top: -30rem;

    &__header {
        grid-column: 1/-1;
        text-align: center;
        margin: 5rem;
        margin-top: 30rem;

        font-size: 3.3rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__row {
        grid-column: 1/2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin: 8rem;

        &__heading-tertiary {
            h3 {
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }

    .btn-link {
        background-color: orange;
    }

    &__composition {
        position: relative;
        &__photo {
            width: 30rem;
        }
    }
}
