.navigation {
    position: fixed;
    top: 4.5rem;
    right: 4rem;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-image: radial-gradient(#7ed56f, #28b485);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    opacity: 1;
    width: 0;

    &__menu {
        display: none;
    }

    &__item {
        font-size: 4rem;
        text-transform: capitalize;
        color: white;
        margin-top: 2rem;
    }
}
